/* override to brand colours */
.hero.is-primary.is-bold {
  background-image: linear-gradient(to right, #00ab4e 0, #099e59 35%, #0a9461 52%, #0f8575 65%, #11807c 98%)
}

/* adds hover pointer to search results list */
.searchResults-location:hover {
  cursor: pointer;
}